* {
  box-sizing: border-box;
}
.title {
  color: rgb(120, 234, 234);
  font-weight: bold;
  text-align: center;
  font-size: 46px;
}
* {
  background-color: rgb(97, 90, 75);
}
li a {
  text-decoration: none;
  color: rgb(185, 185, 68);
}
ul {
  width: max-content;
  margin: 0 auto;
}
